@font-face {
  font-family: "Coda";
  src: url("https://github.com/Emerica/cfsimu/raw/master/css/fonts/coda.ttf");
}
body {
  font-family: "Coda";
}

#main {
  margin-top: 0px;
}

#portal-list {
  height: 100%;
}
#command-list {
  height: 100%;
}

.preset {
  text-align: left;
}

#prestop {
  margin-top: 10px;
}

.command-button {
  height: 5;
}
#sidebar {
  width: inherit;
  min-width: 320px;
  max-width: 320px;
  float: left;

  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
#main {
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 15px;
}
 
::-webkit-scrollbar-thumb {
  background: #666;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-button {
  background: #666;
  height: 15px;
  border-radius: 50%;
}
