

@font-face {
  font-family: "Coda";
  src: url("css/fonts/coda.woff") format("woff"),
  url("css/fonts/coda.ttf") format("truetype"),
}

body {
  font-family: 'Coda', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

#main {
  margin-top: 0px;
}

#portal-list {
  height: 100%;
}
#command-list {
  height: 100%;
}

.preset {
  text-align: left;
}

#prestop {
  margin-top: 10px;
}

.command-button {
  height: 5;
}
#sidebar {
  width: inherit;
  min-width: 320px;
  max-width: 320px;
  float: left;

  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
#main {
  height: 100%;
  overflow: auto;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width: calc(100% + 320px);
  }

  .row-offcanvas-left {
    left: -320px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}
